<div ng-show="loginctrl.firebaseUser">
    <p>Hello, {{ loginctrl.firebaseUser.displayName }}</p>
    <button ng-click="loginctrl.signOut();loginctrl.auth.$signOut()">Sign Out</button>
</div>
<div ng-hide="loginctrl.firebaseUser">
    <form name="loginform" ng-submit="loginctrl.signIn()" novalidate>
        <table>
            <tr>
                <td>e-mail</td>
                <td>password</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input name="email" class="form-control input-sm" type="email" name="email"
                           ng-model="loginctrl.email"
                           required>
                </td>
                <td>
                    <input class="form-control input-sm" type="password" name="password" ng-model="loginctrl.password"
                           required>
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" type="submit">Sign in</button>

                </td>
            </tr>
        </table>
    </form>
</div>


