<script type="text/ng-template" id="form-messages">
    <div ng-message="required">This field cannot be blank</div>
    <div ng-message="minlength">The value for this field is too short</div>
    <div ng-message="maxlength">The value for this field is too long</div>
    <div ng-message="email">You have entered an incorrect email value</div>
    <div ng-message="pattern">You did not enter the value in the correct format</div>
    <div ng-message="password-characters">
        Your password must consist of alphabetical or numeric characters.
        It must also contain at least one special character, a number as well as an uppercase letter.
    </div>
</script>
<spinner name="loginspinner" img-src="bower_components/angular-spinners/ajaxspinner.gif"></spinner>

<form name="userForm" ng-submit="$ctrl.registerUser($ctrl.user)" novalidate>

    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input ng-maxlength="30"
               ng-minlength="5"
               ng-model="$ctrl.user.email"
               id="email" type="email"
               class="form-control"
               name="email"
               placeholder="Email" required/>
    </div>
    <div class="error-messages"
         ng-if="$ctrl.interacted(userForm.password)"
         ng-messages="userForm.email.$error" role="alert">
        <div ng-messages-include="form-messages"></div>

    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input
                ng-minlength="6"
                type="password"
                id="password"
                ng-model="$ctrl.user.password"
                class="form-control"
                name="password"
                placeholder="Password" required/>
    </div>

    <div class="error-messages"
         ng-if="$ctrl.interacted(userForm.password)"
         ng-messages="userForm.password.$error" role="alert">
        <div ng-messages-include="form-messages"></div>

    </div>

    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input
                type="password"
                class="form-control"
                ng-model="$ctrl.user.password_confirm"
                name="password_confirm"
                placeholder="Confirm Password"
                match-validator="$ctrl.user.password"
                required>
    </div>
    <div class="error-messages"
         ng-if="$ctrl.interacted(userForm.password_confirm)"
         ng-messages="userForm.password_confirm.$error" role="alert">
        <div ng-messages-include="form-messages"></div>

    </div>

    <br>
    <div class="input-group">
        <span class="input-group-addon">First Name</span>
        <input ng-model="$ctrl.user.firstName" id="fname" type="text" class="form-control" name="fname"
               placeholder="First Name">
    </div>

    <br>
    <div class="input-group">
        <span class="input-group-addon">Last Name</span>
        <input ng-model="$ctrl.user.lastName" id="lname" type="text" class="form-control" name="lname"
               placeholder="Last Name">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
