<spinner name="loginspinner" img-src="bower_components/angular-spinners/ajaxspinner.gif"></spinner>

<div ng-show="$ctrl.firebaseUser">
    <p>Hello, {{ $ctrl.firebaseUser.displayName }}</p>
    <button ng-click="$ctrl.signOut();$ctrl.auth.$signOut()">Sign Out</button>
</div>
<div ng-hide="$ctrl.firebaseUser">

    <form name="login-form" class="login-form" ng-submit="$ctrl.signIn()" novalidate>
        <table>
            <tr>
                <td class="userlogin">e-mail</td>
                <td class="userlogin">password</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input name="email" class="userlogin" type="email" name="email"
                           ng-model="$ctrl.email"
                           required>
                </td>
                <td>
                    <input class="userlogin " type="password" name="password" ng-model="$ctrl.password"
                           required>
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" type="submit">Sign in</button>

                </td>
            </tr>
        </table>
    </form>
</div>


