/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.create-user-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.create-user-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}

.login-form td{
    padding: 2px;
}
.userlogin{
    line-height: 12px;
    font-size: 12px;
    width: 120px;
}

.error-messages {
    transition: 0.1s linear all;
}
.error-messages.ng-active {
    background:maroon;
    color:white;
    padding:5px;
    border-radius:5px;
    margin-top:15px;
    position:relative;
}
.error-messages.ng-active:after {
    position:absolute;
    top:-10px;
    content:"";
    left:20px;
    border-style:solid;
    border-color:transparent transparent maroon;
    border-width:5px;
}