<div class="well col-md-12">

        <uib-tabset type="pills" active = tCtrl.active>
            <uib-tab index="0" heading="Create tournament" >
                <br>
                <ng-include src="'templates/tournament/fragments/tab1.html'"></ng-include>
            </uib-tab>
            <uib-tab index="1" heading="Add players" disable="tCtrl.tabs.tab1">
                <ng-include src="'templates/tournament/fragments/tab2.html'"></ng-include>
            </uib-tab>
            <uib-tab index="2" heading="Create Teams" disable="tCtrl.tabs.tab2">
                <ng-include src="'templates/tournament/fragments/tab3.html'"></ng-include>
            </uib-tab>
        </uib-tabset>

</div>