<div class="well col-md-12">

        <uib-tabset type="pills">
            <uib-tab index="0" heading="Create tournament">
                <ng-include src="'templates/tournament/fragments/tab1.html'"></ng-include>
            </uib-tab>
            <uib-tab index="1" heading="Add players" ng-disabled="form.name.$error.required">
                <ng-include src="'templates/tournament/fragments/tab2.html'"></ng-include>
            </uib-tab>
            <uib-tab index="2" heading="Create Teams">
                More Tab Content
            </uib-tab>
        </uib-tabset>

</div>