<div class="container col-md-4">
    <div class="input-group">
        <span class="input-group-addon">Name</span>
        <input class="form-control" ng-model="tCtrl.tournament.name" name="name" ng-model-options="{ updateOn: 'blur' }" required>

    </div>
    <div class=" input-group">
        <span class="input-group-addon">Type</span>
        <select ng-model="tCtrl.tournament.type" class="form-control">
            <option value="1">1. Swiss</option>
            <option value="2">2. Round Robin</option>
            <option value="3">3. Something else</option>
        </select>

    </div>
</div>
<button class="btn btn-default" ng-click="tCtrl.createTournament()">Next <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
