<form name="tCtrl.tournamentTab2" novalidate>
    <div class="container-fluid col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Available Players</div>
            <div class="panel-body">
                <ul class="list-group list-unstyled">
                    <player-list></player-list>
                </ul>
            </div>
        </div>
    </div>

    <div class="container col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Create teams</div>
            <div class="panel-body">
                <div class="btn-group">
                    <label class="btn btn-danger" ng-model="checkModel" uib-btn-radio="'random'">Random Teams</label>
                    <label class="btn btn-success" ng-model="checkModel" uib-btn-radio="'custom'">Custom Teams</label>
                </div>
                <div ng-show="checkModel == 'random'">
                    <div class="input-group">
                        <span class="input-group-addon">Number of teams</span>
                        <input class="form-control">
                    </div>
                    <button class="btn btn-primary">Create random teams</button>
                </div>
                <div ng-show="checkModel == 'custom'">
                    <div class="input-group">
                        <span class="input-group-addon">Team name</span>
                        <input ng-model="tCtrl.team.name" class="form-control" my-enter="tCtrl.addTeam(tCtrl.team)">
                        <span ng-click="tCtrl.addTeam(tCtrl.team)" button class="btn input-group-addon btn-primary"><i
                                class="glyphicon glyphicon-plus"></i> Add</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Teams</div>
            <div class="panel-body">
                <team-list></team-list>
            </div>
        </div>
    </div>

</form>
